* {
  color: 206676;
  font-family: Centruy Gothic, sans-serif;
  background: 	#F0F0F0  ;
}

h3 {
  color: #206676;
  font-family: monospace;
  font-weight: 200;
  font-size: 40px;
  margin-left: 150px;
}
#tweet:hover {
	font-weight: bolder;
}
#fbstatus:hover {
	font-weight: bolder;
}
#fbevent:hover {
	font-weight: bolder;
}
#ring:hover {
	font-weight: bolder;
}
#webpage:hover {
	font-weight: bolder;
}
#call:hover {
	font-weight: bolder;
}

#formdiv {
  float:left;
  top: -100px;
  padding-left: 160px;
  font-size: 28px;
  font-weight: 100;
  width: 520px;
  height: 200px;
}
#phoneNumber {
  display:none;
}

label {
  display: block;
  margin: auto; 
}

#phonenumber{
	display: none;
	margin-left: 50px;
	font-size: 20px;
}
#emailaddr{
	display: none;
	margin-left: 50px;
	font-size: 20px;
}

