* {
  color: 206676;
  font-family: Centruy Gothic, sans-serif;
  background: 	#F0F0F0  ;
}

h3 {
  color: #206676;
  font-family: monospace;
  font-weight: 200;
  font-size: 40px;
  margin-left: 150px;
}
#tweet:hover {
	font-weight: bolder;
}
#fbstatus:hover {
	font-weight: bolder;
}
#fbevent:hover {
	font-weight: bolder;
}
#ring:hover {
	font-weight: bolder;
}
#webpage:hover {
	font-weight: bolder;
}
#call:hover {
	font-weight: bolder;
}
#video:hover{
	font-weight: bolder;
}
#formHack {
  float:left;
  padding-left: 160px;
  font-size: 28px;
  font-weight: 100;
  width: 520px;
  height: 200px;
}

label {
  display: block;
  margin: auto; 
}

#phoneText{
	display: none;
	margin-left: 50px;
	font-size: 20px;
}
#emailText{
	display: none;
	margin-left: 50px;
	font-size: 20px;
}
.textField{
	border = 1px;
	width = 200px;
	height = 100px;
	font-size = 24px;
	margin-bottom = 10px;
}
#weapons{
	height: 400px;
}
#fbauth{
	position: absolute;
	color : #206676
	font-size : 50px;
	font-family : Century Gothic, sans serif;
	top: 150px;
	margin-left: 250px;
}
