* {
  background-color: #F0F0F0   ;
  font-family: Century Gothic, sans-serif;
  color: white;
}
#titleDiv {
  clear: both;
  margin-top: 140px;
  margin-left: 230px;
  color: #8B6ED7;
  font-family: Century Gothic, sans-serif;
  font-weight: 100;
  font-size: 80px;
}

#button {
	position:relative;
	margin-top: 20px;
	margin-left: 545px;
	border: 10px;
	border-radius: 50px;
	height: 60px;
	width: 60px;
	background-color : #38B2CE;
	font-size: 28px;
	font-weight: thicker;
	color : white
}

#chooseFriend :hover{
	font-weight: bolder;
}
#placeholder {
	color: #F0F0F0 ;
}


#scriptbox {
  width:800px;
  height:475px;
  border: 5px solid #240672;
  border-radius: 10px;
  margin: auto;
}



a {
  text-decoration: none;
  display: block;
  width: 100px;
  margin: auto;
}
#reset:hover {
  font-weight: bold;
}
footer {
  margin-top: 15px;
  color: black;
  text-align: center;
}

#submit{
	z-index: 4;
	display:none;
	text-align: center;
	position: absolute;
	top: 250px;
	right : 400px;
}
#finished {
	text-align: center;
	color : #8B6ED7;
	font-size : 60px;
	font-weight : 100;
}
#authenticate {
	display : none;
	margin-left: 150px;
}

#created{
font-size:75%;
}
.logo{
height:40px;
width:40px;
}
#poweredby{
}

#tButton{
	position: absolute;
	top: 40%;
	right: 45%;
	height: 70px;
	border : 10px;
	border-radius: 10px;
	width: 250px;
	background-image: url('img/twitter.png');
}
