* {
  background-color: #F0F0F0;
  text-family: Garamond;
  color: white;
}
#title {
  color: #240672;
  font-family: 'Poiret One'; 
  font-size: 80px; 
  margin-bottom:30px; 
  text-align: center;
}
#heading {
color: #240672;
font-family: 'Cabin Condensed'; 
font-size:66px; 
text-align:center; 
margin-bottom:25px;

}
h3 {
  text-align: center;
  font-size: 30px;
  border: 2px solid black;
  background-color: black;
  color:#38B2CE;
}

#leftbar{
 margin-top:30px; 
 margin-left: 225px;
  display: inline;

}

#coupleimg {

 display: inline;
 height:75%; 
 width:30%;
 border-style: solid;
 border-radius: 10;
 border-color: #38B2CE;
 float: left;
 }

#upper{
 margin-left: 55px;
 display: block;
 margin-right:10px; 
 background-color:#F0F0F0;
}

#lower{
 font-family: 'Poiret One';
 font-size: 16;
 display: block;
 margin-left:10px; 
 background-color: #abc; 
 border-radius:5px;
}

#rightbar{
 float: left;
 }
div div {
  margin: auto;
  background-color: black;
  margin-top: 10px;
  font-size: 16px;
}
p {
  font-size: 16px;
}
a {
  text-decoration: none;
  display: block;
  width: 100px;
  margin: auto;
}
#reset:hover {
  font-weight: bold;
}
footer {
  color: black;
  text-align: center;
}

#story {
    position:relative;
    padding-top:20%;
    font-size: 60px;
}