* {
  color: 206676;
  font-family: Centruy Gothic, sans-serif;
  background: 	#F0F0F0  ;
}
body {
  margin: auto;
}
h3 {
<<<<<<< HEAD
  font-weight: 200;
  font-size: 60px;
=======
>>>>>>> 29e6bea9e03e6fd555ab5bfeecd159a397df63f4
  margin-top: 100px;
  text-align: center;
}
#tweet:hover {
	font-weight: bolder;
}
#fbstatus:hover {
	font-weight: bolder;
}
#fbevent:hover {
	font-weight: bolder;
}
#ring:hover {
	font-weight: bolder;
}
#webpage:hover {
	font-weight: bolder;
}
#call:hover {
	font-weight: bolder;
}

#checkbox1{
	display: inline;
}

#formdiv {
<<<<<<< HEAD
  margin-left: 420px;
  font-size: 28px;
  width: 600px;
  height: 200px;
=======
  width: 200px;
  height: 100px;
  margin: auto;
>>>>>>> 29e6bea9e03e6fd555ab5bfeecd159a397df63f4
}
label {
  display: block;
  margin: auto; 
}
.start_button {
  margin: auto;
  margin-top: 150px;
<<<<<<< HEAD
  width: 200px;
  height: 100px;
  font-size: 50px;
  text-align: center;
  border: 4px solid black;
  border-radius: 10px;
  opacity: 1.0;
  background-color: #C0F400;
}

#finish {
  margin: auto;
  margin-top: 20px;
=======
  width: 100px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  border: 4px solid black;
  border-radius: 10px;
  background-color: #BDBDBD;
}
#finish {
  margin: auto;
  margin-top: 70px;
>>>>>>> 29e6bea9e03e6fd555ab5bfeecd159a397df63f4
  width: 100px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  border: 4px solid black;
  border-radius: 10px;
  background-color: #BDBDBD;
}
a {
  text-decoration: none;
  display: block;
  margin: auto;
  width: 100px;
  height: 50px;
}
.start_button:hover {
  font-weight: bolder;
}
#finish:hover {
  font-weight: bolder;
}
div div {
  margin: auto;
  margin-top: 10px;  
}
.button {
<<<<<<< HEAD
  background-color: #C0F400;
=======
  background-color: #BDBDBD;
>>>>>>> 29e6bea9e03e6fd555ab5bfeecd159a397df63f4
}
#restart {
  margin: auto;
  margin-top: 150px;
  width: 200px;
  height: 70px;
  font-size: 20px;
  text-align: center;
  border: 4px solid black;
  border-radius: 10px;
  background-color: #BDBDBD;
}
#restart:hover {
  font-weight: bolder;
}