* {
  color: 206676;
  font-family: Centruy Gothic, sans-serif;
  background: 	#F0F0F0  ;
}

#button {
	position:relative;
	margin-top: 72;
	left: 102px;
	border-radius: 50px;
	height: 60px;
	width: 60px;
	background-color : 38B2CE;
	font-size: 28px;
	font-weight: thicker;
	color: white;
}
h3 {
  color: #206676;
  font-weight: 200;
  font-size: 40px;
  margin-left: 150px;
}
#tweet:hover {
	font-weight: bolder;
}
#fbstatus:hover {
	font-weight: bolder;
}
#fbevent:hover {
	font-weight: bolder;
}
#ring:hover {
	font-weight: bolder;
}
#webpage:hover {
	font-weight: bolder;
}
#call:hover {
	font-weight: bolder;
}

#formdiv {
  float:left;
  padding-left: 150px;
  font-size: 28px;
  width: 520px;
  height: 200px;
}
label {
  display: block;
  margin: auto; 
}


