* {
  background-color: white;
  text-family: Garamond;
  color: white;
}
h3 {
  margin-top: 80px;
  text-align: center;
  color: #333333;
  font-family: Century Gothic, sans-serif;
  font-weight: 100;
  font-size: 60px;
}


#scriptbox {
  width:650px;
  height:320px;
  border: 5px solid black;
  border-radius: 10px;
  margin: auto;
}
#reset {
  font-family: Century Gothic, sans-serif;
  font-weight: lighter;
  font-size: 60px;
  text-align: center;
  width: 100px;
<<<<<<< HEAD
  height: 30px; 
  border: 2px solid black;
=======
  height: 50px; 
  border: 4px solid black;
>>>>>>> 29e6bea9e03e6fd555ab5bfeecd159a397df63f4
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #BDBDBD;
}
div div {
  margin: auto;
<<<<<<< HEAD
  background-color: black;
  margin-top: 10px;
  font-size: 16px;
=======
  margin-top: 10px;
  background-color: #BDBDBD;
>>>>>>> 29e6bea9e03e6fd555ab5bfeecd159a397df63f4
}
p {
  text-align: center;
  font-size: 16px;
}
a {
  text-decoration: none;
  display: block;
  width: 100px;
  margin: auto;
}
#reset:hover {
  font-weight: bold;
}
footer {
  color: black;
  text-align: center;
}